# Compiled output

/dist
/tmp
/out-tsc
/bazel-out

# Node

/node_modules
npm-debug.log
yarn-error.log


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files

.DS_Store
Thumbs.db
pnpm-lock.yaml

# angular

.angular/
package-lock.json
.vscode
dist