<div class="container mx-auto p-4">

    <button class="bg-blue-500 text-white px-4 py-2 rounded-md text-center d-flex align-items-center mb-4"
        (click)="goBack()">
        <span class="material-icons">arrow_back</span>
        <span class="ms-2">Volver</span>
    </button>

    <div class="container bg-white p-4 rounded-md">
        <h1 class="text-2xl font-bold mb-6 mt-4 font-montserrat">Imprimir Documentos</h1>

        <div class="grid gap-4 md:grid-cols-2">
            <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">Seleccionar Torneo:</label>
                <select [(ngModel)]="tournamentSelected" (change)="cargarFechas()"
                    class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-500">
                    <option value="" disabled selected>Seleccione un torneo</option>
                    <option *ngFor="let item of tournaments" [ngValue]="item.id">
                        {{ item.id }} - {{ item.name }}
                    </option>
                </select>
            </div>

            <div class="space-y-2">
                <label class="block text-sm font-medium text-gray-700">Seleccionar Fecha:</label>
                <select [(ngModel)]="dateSelected" class="w-full p-2 border rounded-md focus:ring-2 focus:ring-blue-500"
                    [disabled]="!tournamentSelected">
                    <option value="" disabled selected>Seleccione una fecha</option>
                    <option *ngFor="let date of dates" [ngValue]="date.id">
                        {{ date.date | date: 'fullDate' }}
                    </option>
                </select>
            </div>
        </div>

        <div class="mt-6 flex gap-4">
            <button (click)="descargarPDF()" [disabled]="!dateSelected"
                class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 disabled:bg-gray-400">
                Descargar PDF
            </button>
        </div>
    </div>
</div>