<div class="container-header">

  <div class="title-header" (click)="redirect()">
    <img src="../../../assets/blanco_sin_logo.png" alt="">
  </div>
  
  <div class="buttons-header" *ngIf="isLoggin">
    <button routerLink="/" (click)="scrollToTop()">
      <span>INICIO</span>
    </button>
    <button routerLink="/tournament">
      <span>TORNEOS</span>
    </button>
    <button (click)="navigateToLocation()">
      <span>UBICACIÓN</span>
    </button>
    <button routerLink="/login">
      <span>INICIAR SESIÓN</span>
    </button>
  </div>

  <div class="buttons-header-login" *ngIf="!isLoggin">
    <button class="notification">
      <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#e8eaed"><path d="M160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z"/></svg>
    </button>

    <button class="profile" mat-button [matMenuTriggerFor]="menu">
      <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
    </button>

    <mat-menu #menu="matMenu">
      <div class="user-info">
        <h3>Usuario:</h3>
        <span>adminadmin.com</span>
      </div>
      <hr>
      <button mat-menu-item> <h3>Configuracion</h3></button>
      <button mat-menu-item routerLink="/admin">Dashboard</button>
      <button mat-menu-item routerLink="/">Inicio</button>
      <button mat-menu-item (click)="logout()" *ngIf="!isLoggin">
        <h3>Cerrar Sesión</h3>
      </button>
    </mat-menu>
  </div>

  <div class="menu" *ngIf="isLoggin">
    <button class="buttons" mat-button [matMenuTriggerFor]="menu" style="background: #161616; color: white">
      <span class="material-symbols-outlined">
        menu
      </span>
    </button>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login" *ngIf="isLoggin">INICIAR SESIÓN</button>
      <button mat-menu-item (click)="logout()" *ngIf="!isLoggin">CERRAR SESIÓN</button>
      <button mat-menu-item routerLink="/tournament" *ngIf="isLoggin">TORNEOS</button>
      <button mat-menu-item *ngIf="showInstallButton" (click)="installPWA()">INSTALAR APLICACION</button>
    </mat-menu>
  </div>
  

</div>