body {
  margin: 0;
  padding: 0;
}

.container-header {
  background-color: #161616;
  height: 3rem;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-header {
  color: white;
  padding: 12px;
  background-color: transparent;

  h1,
  span {
    font-family: 'Ubuntu Sans';
    font-style: italic;
    font-weight: 700;
    background-color: transparent;
    margin: 0px;
  }

}


@media (max-width: 600px) {
  .container-header {
    height: 3rem;
  }

  .title {
    font-size: 1.2rem;
  }
}

.buttons {
  display: flex;
  border: 0px !important;
  height: 3rem;
  span {
    font-size: 30px;
    color:white;
    padding: 12px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
  }
}