<div class="container-header">

  <div class="title-header" (click)="redirect()">
    <!-- <h1>Sp<span style="color:#7ed957">o</span>rtin<span style="color:#7ed957">o</span></h1> -->
     <img src="../../../assets/blanco_sin_logo.png" alt="">
  </div>

  <div class="buttons-header">
    <button routerLink="/" (click)="scrollToTop()">
      <span>INICIO</span>
    </button>
    <button routerLink="/tournament">
      <span>TORNEOS 🏆</span>
    </button>
    <button (click)="navigateToLocation()">
      <span>UBICACIÓN</span>
    </button>
    <button routerLink="/login">
      <span>INICIAR SESIÓN</span>
    </button>
  </div>

  <div class="menu">
    <button class="buttons" mat-button [matMenuTriggerFor]="menu" style="background: #161616; color: white">
      <span class="material-symbols-outlined">
        menu
      </span>
    </button>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login">Login</button>
      <button mat-menu-item *ngIf="showInstallButton" (click)="installPWA()">Instalar Aplicacionxxs</button>
    </mat-menu>
  </div>
  

</div>