
<div class="goBack">
    <button (click)="goBack()" class="btn btn-secondary">
        <span class="material-icons">arrow_back</span>Volver
    </button>
</div>

<div class="container">
    <h1 class="title">Panel de Administración de Equipos de Fútbol</h1>
    <div class="toolbar">
        <input type="text" placeholder="Filtrar por nombre del equipo" [(ngModel)]="filter" class="input"
            (ngModelChange)="applyFilter($event)" />
        <button class="btn btn-primary" (click)="openModal()">
            <i class="icon icon-plus"></i> Crear Torneo
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="th-container">
                        Id
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Nombre
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Fecha de Inicio
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Fecha de Fin
                    </div>
                </th>
                <th>
                    <div class="th-container">
                        Activo
                    </div>
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of tournaments">
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.date_from }}</td>
                <td>{{ team.date_to}}</td>
                <td>{{ team.active ? 'Sí' : 'No' }}</td>
                <td class="actions">
                    <button class="btn-icon">
                        <i class="material-icons">edit</i>
                    </button>
                    <button class="btn-icon">
                        <i class="material-icons">delete</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>