<div class="goBack">
    <button (click)="goBack()" class="btn btn-secondary d-flex align-items-center gap-2">
        <span class="material-icons">arrow_back</span>Volver
    </button>
</div>

<div class="container">
    <h1 class="title">Delegados</h1>
    <div class="delegados-table">
        <div class="toolbar">
            <input type="text" placeholder="Filtrar por nombre del delegado" [(ngModel)]="filter" class="input"
                (ngModelChange)="applyFilter()" />
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Correo</th> 
                        <th>Equipo</th>
                        <th>Activar/Desactivar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let delegado of delegados">
                        <td data-label="Nombre">{{ delegado.username }}</td>
                        <td data-label="Documento">{{ delegado.id_card }}</td>
                        <td data-label="Correo">{{ delegado.email }}</td>
                        <td data-label="Equipo">{{ delegado.team.name }}</td>
                        <td data-label="Activar/Desactivar">
                            <label class="switch" title="Activar/Desactivar">
                                <input type="checkbox" [checked]="delegado.confirmed" (change)="handleActive(delegado)">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td data-label="Acciones" class="actions d-flex gap-2 align-items-center justify-content-center">
                            <button mat-icon-button [matMenuTriggerFor]="menu" title="Más opciones" class="bg-white">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            

                            <mat-menu #menu="matMenu" class="bg-white">
                                <button mat-menu-item (click)="handleEdit(delegado)" class="text-primary">
                                    <mat-icon>edit</mat-icon>
                                    <span>Editar</span>
                                </button>
                                <button mat-menu-item (click)="handleDelete(delegado)" class="text-red-500">
                                    <mat-icon>delete</mat-icon>
                                    <span>Eliminar</span>
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="showModal" class="modal-overlay">
    <div class="modal">
            <div class="modal-header">
                <h2 class="modal-title">Confirmar eliminación</h2>
                <button type="button" class="close" (click)="closeModal()"><span class="material-icons">close</span></button>
            </div>
            <div class="modal-body">
                <h3>¿Estás seguro de que deseas eliminar al delegado {{ delegadoDelete?.full_name }}?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="onConfirm()">Eliminar</button>
            </div>
    </div>
</div>