<div class="tournaments-container">
  <header>
    <h1>Explora Torneos</h1>
    <div class="filters">
      <label for="year">Año:</label>
      <select id="year" [(ngModel)]="selectedYear" (change)="filterTournaments()">
        <option [value]="null">Todos</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
      <label for="active">Mostrar solo activos:</label>
      <input type="checkbox" id="active" [(ngModel)]="showActiveOnly" (change)="filterTournaments()">
    </div>
  </header>
  <div class="tournaments-grid">
    <div class="tournament-card" *ngFor="let tournament of filteredTournaments" (click)="selectTournament(tournament)">
      <div class="tournament-image" [style.background-color]="tournament.bgColor">
        <img src="../../assets/pagina_wb.png" alt="" class="tournament-logo">
      </div>
      <div class="tournament-info">
        <h2>{{ tournament.name }}</h2>
        <p>Desde: {{ tournament.date_from }} - Hasta: {{tournament.date_to}}</p>
      </div>
    </div>
  </div>
</div>
