<div class="home-admin">
  <section class="section">
      <div class="card">
          <img src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/Liga%20Profesional%20Argentina%20AFA%20LPF.jpg?itok=co02_pTs"
              alt="Torneo Apertura 2024">
          <div class="card-content">
              <h2>Torneos</h2>
              <p>Gestiona todos los torneos</p>
              <button class="btn" (click)="navigateTo('tournaments')">Detalle Torneo</button>
          </div>
      </div>

      <div class="card">
          <img src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/Liga%20Profesional%20Argentina%20AFA%20LPF.jpg?itok=co02_pTs"
              alt="Torneo Apertura 2024">
          <div class="card-content">
              <h2>Partidos</h2>
              <p>Gestiona los partidos del torneo</p>
              <button class="btn" (click)="navigateTo('matches')">Detalle Partido</button>
          </div>
      </div>

      <div class="card">
          <img src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/Liga%20Profesional%20Argentina%20AFA%20LPF.jpg?itok=co02_pTs"
              alt="Torneo Apertura 2024">
          <div class="card-content">
              <h2>Categorías</h2>
              <p>Gestiona las categorías del torneo</p>
              <button class="btn" (click)="navigateTo('categories')">Detalle Categoría</button>
          </div>
      </div>

      <div class="card">
          <img src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/Liga%20Profesional%20Argentina%20AFA%20LPF.jpg?itok=co02_pTs"
              alt="Torneo Apertura 2024">
          <div class="card-content">
              <h2>Fechas</h2>
              <p>Ver y gestionar las fechas del torneo</p>
              <button class="btn" (click)="navigateTo('dates')">Detalle Fechas</button>
          </div>
      </div>
  </section>

  <section class="admin-menu">
      <header class="header">
          <h1>Administrador</h1>
      </header>
      <section class="menu-section">
          <div class="card">
              <h2>Gestión de Torneos</h2>
              <ul>
                  <li><a href="#">Zonas</a></li>
                  <li><a href="#">Calendario</a></li>
                  <li><a href="#">Act./Fechas</a></li>
                  <li><a href="#">Categorías</a></li>
                  <li><a href="#">Fechas</a></li>
              </ul>
          </div>
          <div class="card">
              <h2>Gestión de Participantes</h2>
              <ul>
                  <li><a href="#">Árbitros</a></li>
                  <li><a href="#">Delegados</a></li>
                  <li><a href="#">Equipos</a></li>
                  <li><a href="#">Jugadores</a></li>
                  <li><a href="#">Sanciones</a></li>
              </ul>
          </div>
          <div class="card">
              <h2>Administración</h2>
              <ul>
                  <li><a href="#">Veedores</a></li>
                  <li><a href="#">Parámetros</a></li>
                  <li><a href="#">Backup</a></li>
                  <li><a href="#">Claves Delegados</a></li>
                  <li><a href="#">Quita Puntos</a></li>
              </ul>
          </div>
          <div class="card">
              <h2>Galería</h2>
              <ul>
                  <li><a href="#">Sube Fotos Campeones</a></li>
                  <li><a href="#">Administración de Galerías</a></li>
                  <li><a href="#">Sube Fotos</a></li>
                  <li><a href="#">Imagen de Portada</a></li>
              </ul>
          </div>
          <div class="card">
              <h2>Informes</h2>
              <ul>
                  <li><a href="#">Listado de Partidos</a></li>
                  <li><a href="#">Listado de Equipos</a></li>
                  <li><a href="#">Imprime todas las planillas</a></li>
                  <li><a href="#">Busca Jugadores</a></li>
              </ul>
          </div>
      </section>
  </section>
</div>