html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.content {
    margin-top: 40px;
    flex: 1;
    background-color: rgba(96, 96, 96, 0.14);
}

footer {
    margin-top: auto;
}