<div class="container mx-auto mt-10">
  <div class="container-header">
    <h1>Gestión de Jugadores</h1>
    <div class="logo flex items-center gap-4">
      <img src="../../../assets/boca.png" alt="Logo" class="rounded-full w-32 border-2 border-gray-300">
      <h1 class="text-2xl font-bold">Boca Juniors</h1>
    </div>
  </div>

  <div class="flex justify-end items-center">
    <button class="relative inline-flex items-center bg-white justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
      Agregar Jugador
      </span>
      </button>
  </div>

  <div class="container-table relative overflow-x-auto shadow-md sm:rounded-lg h-full">
    <table class="table-auto w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 bg-white">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th></th>
          <th scope="col" class="px-6 py-3">Nombre</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">DNI</th>
          <th scope="col" class="px-6 py-3">Estado</th>
          <th scope="col" class="px-2 py-3"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of players">
          <td> <img [src]="player.photo" alt="Player Photo" class="w-10 h-10 rounded-full"></td>
          <td class="px-6 py-4">{{player.name}}</td>
          <td class="px-6 py-4">{{player.email}}</td>
          <td class="px-6 py-4">{{player.dni}}</td>
          <td class="px-6 py-4">
            <span class="bg-green-500 text-white px-2 py-1 rounded-md" *ngIf="player.active">Activo</span>
            <span class="bg-red-500 text-white px-2 py-1 rounded-md" *ngIf="!player.active">Inactivo</span>
          </td>
          <td class="px-2 py-4">
            <button class="buttons" mat-button [matMenuTriggerFor]="menu">
              <span class="material-symbols-outlined text-gray-500 font-bold text-xl">
                more_vert
              </span>
            </button>
          
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Editar</button>
              <button mat-menu-item>Eliminar</button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
