@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$color-orange: #ff7300;
$color-green:  #7ed957;

*{
    font-family: 'Montserrat';
}

.material-symbols-outlined{
    font-family: 'Material Icons';
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.back-button{
    display: flex;
    align-items: center;
    gap: 10px;
    color: $color-orange;
    margin-top: 20px;
    margin-left: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }