
$color-orange: #ff7300;
$color-green:  #7ed957;

*{
    font-family: 'Montserrat';
}

.material-symbols-outlined{
    font-family: 'Material Icons';
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}