/* General Container Styles */
.container {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

/* Title Styles */
.title {
  background-color: white;
  border-radius: 8px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.title h2 {
  font-family: 'Ubuntu Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2.5rem;
  margin: .5rem;
}

/* Tab Container Styles */
.container-tab {
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 500px;
  font-size: 16px;
  margin: 10px;
  font-weight: 500;
}

.container-select-torneo {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-select-torneo select {
  background: transparent;
  border-radius: 8px;
  border: 2px solid black;
  height: 28px;
  width: 50%;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 8px 0px;
}

.button-tab {
  background: #ddd;
  border: none;
  border-radius: 8px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
  width: 100px;
}

.button-tab.selected {
  background-color: #7ed956;
  color: #f9f9f9;
  font-weight: 500;
  font-size: 16px;
}

/* Table Result Styles */
.tabla-resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fixture-container,
.posiciones-container {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 95%;
}

.match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  flex-direction: column;
}

.match:last-child {
  border-bottom: none;
}

.team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.team-logo {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.team-name {
  font-size: 14px;
  font-weight: bold;
}

.container-teams {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  flex: 1;
}

.match-details {
  font-size: 12px;
  color: #888;
}

.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
}

.scrollable-table table {
  width: 100%;
}

.scrollable-table thead tr {
  display: flex;
  justify-content: space-between;
}

.scrollable-table tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

.team-posiciones {
  display: flex;
  align-items: center;
}

.match-posiciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

/* Complete Stats Button Styles */
.complete-stats-button {
  width: 90%;
  padding: 10px;
  margin: 20px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.complete-stats-button:hover {
  background-color: #333;
}

/* Fade-in Transition */
.tab-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tab-content.fade-in {
  opacity: 1;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .title,
  .container-tab {
    width: 98%;
  }
}
