<div class="portada">
    <div class="img" [ngStyle]="{'background-image': 'url(' + currentImage + ')'}" loading="lazy">
    </div>
    <div class="statistics">
        <app-tabla-fixture></app-tabla-fixture>
    </div>
</div>

<div class="contacto-container" style="background-image: url('./../../assets/img/port-contacto.jpg'); background-size: cover;">
    <section class="info-nosotros">
      <h2>NOSOTROS</h2>
      <p>VAMOS A <span class="resaltar">REINVENTAR</span> LA FORMA DE JUGAR AL FÚTBOL</p>
      <p>
        Creamos un <span class="resaltar">espacio único</span> en la ciudad de Córdoba.<br>
        Vas a entrenar como un <span class="resaltar">verdadero profesional</span>.<br>
        Vas a jugar en una cancha que es <span class="resaltar">más que una cancha</span>.<br>
        Vas a armar tu equipo para disfrutar adentro y afuera del césped.<br>
        Viví una experiencia que llegó para <span class="resaltar">cambiar la forma de jugar al fútbol</span>.
      </p>
    </section>
  
    <section class="categorias">
      <h3>CONTAMOS CON <span class="resaltar">OCHO CANCHAS</span> DE ONCE</h3>
      <h3>CANCHAS CON MEDIDAS <span class="resaltar">REGLAMENTARIAS</span></h3>
      <h3>TORNEOS PARA MULTIPLES <span class="resaltar">CATEGORIAS</span></h3>
    </section>
  
  </div>

<div class="map" #locationSection>
    <div class="container-title-map">
        <h2 style="display: flex;">UBICACIÓN
            <span class="material-symbols-outlined">
                location_on
            </span>
        </h2>
        <a href="https://www.google.com/maps/search/?api=1&query=Sportino+Espacio+Deportivo+Recreativo,+11+de+Septiembre+5113,+Córdoba"
            target="_blank">
            <span>11</span> de Septiembre <span>5113</span>, Córdoba
        </a>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3402.9015717249817!2d-64.15042312396311!3d-31.47189367423622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a34b3355dc6b%3A0x69fa15c2e8cdf89!2s11%20de%20Septiembre%205100%20Km%205%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1716336177299!5m2!1ses-419!2sar"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="contacto-container-contacto">
  <section class="contacto">
    <h2>CONTACTO</h2>
    <div class="contacto-info">
      <div class="contacto-item">
        <p>ENCONTRATE CON NUESTRA COMUNIDAD</p>
        <p>
          <a href="https://facebook.com/torneosportino" target="_blank">Facebook: /torneosportino</a><br>
          <a href="https://www.instagram.com/sportinoclub/" target="_blank">Instagram: @sportinoclub</a>
        </p>
      </div>
      <div class="contacto-item">
        <p>PARA INSCRIPCIONES DE <strong>TORNEOS</strong>, CONTACTAR: 
          <a href="https://wa.me/5493516470782" target="_blank"><strong>+54 9 351 6470-782</strong></a>.
      </p>
      <p>PARA RESERVÁ TU <strong>CANCHA</strong>, CONTACTAR: 
          <a href="https://wa.me/5493512921921" target="_blank"><strong>+54 9 351 2921-921</strong></a>.
      </p>
      </div>
    </div>
  </section>
</div>