@import 'keen-slider/keen-slider.min.css';

.img-portada {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 96%;
    height: 94%;
    background-size: cover;
    background-position: bottom;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;

    .logo {
        width: 55px;
    }

    h3,
    p {
        color: white;
        margin: 0;
    }
}

.container-button {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;

    button {
        width: 10rem;
        font-size: 18px;
        color: white;
        height: 1.8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    button:hover {
        width: 9.1rem;
        height: 1.9rem;
    }

    button:active {
        width: 8.8rem;
        height: 1.6rem;
    }
}

.container-logo {
    display: flex;
    align-items: center;

    h3 {
        font-family: 'Ubuntu Sans';
        font-weight: 700;
        font-style: italic;
    }
}

.card {
    display: flex;
    background-color: #161616;
    justify-content: space-around;
}

.map {
    iframe {
        width: 100%;
    }
}

.keen-slider__slide {
    display: flex;
    background: #5b5b5b;
    height: 100%;
    width: auto;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    img {
        height: auto;
        width: 70%;
        border-radius: 10px;
    }
}

.keen-slider {
    border-radius: 8px;
}

.carousel {
    padding: 1rem;
    padding-bottom: 1rem;
    background: #fafafa;
}

.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot.active {
    background: #000;
}

.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
}

.arrow--left {
    left: 5px;
}

.arrow--right {
    left: auto;
    right: 5px;
}

.arrow--disabled {
    fill: rgba(255, 255, 255, 0.5);
}

.title-carousel {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    border-top: 6px solid #7ed957;
}

@media (max-width: 768px) {
    .img-portada {
        height: 560px;
    }

    .img {
        width: 90%;
        height: 94%;
        background-size: cover;
        background-position: bottom;
    }

    .card {
        flex-direction: column;
    }

    .keen-slider__slide {
        img {
            width: 96%;
        }
    }
}

.title-information {
    background-color: #161616;
    border-radius: 8px;
    width: 320px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.title-carousel {
    .p-1 {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 18px;
        text-wrap: pretty;
    }

    .p-2{
        width: 90%;
    }

    a {
        color: #ff7300;
    }

    .contacto{
        h2{
            margin-bottom: 0px;
            margin-top: 1rem;
        }
        p{
            font-size: 16px;
        }
        width: 90%;
    }
}