
<!-- <button *ngIf="showInstallButton" (click)="installPWA()">Instalar PWA</button> -->

<div class="img-portada">
    <div class="img" style="background-image: url('../../assets/img/portada.webp');">
    
        <div class="container-logo">
            <img src="../../assets/logo_spotino.webp" alt="" class="logo">
            <h3 style="font-size: 4rem; margin-left: 8px;">Sportino</h3>
        </div>
        <br>
        <p style="font-size: 1.5rem;">Espacio Deportivo Recreativo</p>

        <div class="container-button">
            <button>
                <span class="material-symbols-outlined">
                    expand_more
                </span>
                Conoce más
            </button>
    </div>
</div>
  



<div class="card">




</div>