<div class="footer-content" *ngIf="isLoggin">
  <img class="logo" src="../../../assets/logo_pies_3.png" alt="Logo de Sportino Club">
  <div class="form">
    <span>11 de Septiembre 5100 - Camino a 60 Cuadras - Km 5 - Córdoba</span>
    <span>Cel.: 351-6470782</span>
    <span>Mail: sportinoclub@gmail.com</span>
    <div class="redes">
      <a href="https://wa.me/5493512921921">
        <img src="../../../assets/icons/whatsapp.png" alt="">
      </a>
      <a href="https://www.instagram.com/sportinoclub/">
        <img src="../../../assets/icons/instagram.png" alt="">
      </a>
      <a href="https://www.facebook.com/torneosportino">
        <img src="../../../assets/icons/facebook.png" alt="">
      </a>
    </div>
  </div>
</div>
