<div class="container-player">

  <div class="title-player">
    <h2 style="margin: .5rem;">Estadisticas Jugadores</h2>
  </div>

  <div class="container-tab-player">
    <mat-tab-group>
      <mat-tab label="Goleadores">
        <table class="tabla-result-player">
          <thead>
            <tr>
              <th scope="col">Jugador</th>
              <th scope="col">Equipo</th>
              <th scope="col">Goles</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Moreno Daniel</td>
              <td>Maxi Puente Blanco</td>
              <td>15</td>
          </tr>
          <tr>
              <td>Reynoso Emanuel</td>
              <td>Maxi Granuja FC</td>
              <td>13</td>
          </tr>
          <tr>
              <td>Altamirano Carlos</td>
              <td>Maxi El Tanque</td>
              <td>9</td>
          </tr>
          <tr>
              <td>Lario Daniel</td>
              <td>Maxi Puente Blanco</td>
              <td>7</td>
          </tr>
          <tr>
              <td>Vazques Novoa Miguel</td>
              <td>Maxi Los Algarrobos</td>
              <td>5</td>
          </tr>
          <tr>
              <td>Martinez Walter Javier</td>
              <td>Maxi Los Carniceros</td>
              <td>5</td>
          </tr>
          <tr>
              <td>Pereyra Fernando</td>
              <td>Maxi Granuja FC</td>
              <td>5</td>
          </tr>
          </tbody>
        </table>
        
        <div class="container-button">
          <button>
              Ver detalle
          </button>
      </div>

      </mat-tab>
      <mat-tab label="Sanciones">
        <div class="container-select">
          <div class="select-categoria">
            <label for="categoria" style="margin-right: .8rem;">Categoria:</label>
            <select name="categoria" id="categoria">
              <option value="1" selected>MAXI SENIORS 40</option>
              <option value="2" selected>SUPER MAXI 45</option>
              <option value="3" selected>MASTER</option>
              <option value="4" selected>LIBRE</option>
            </select>
          </div>
          <div class="select-fecha">
            <label for="fecha" style="margin-right: .8rem;">Fecha:</label>
            <select name="fecha" id="fecha">
              <option value="1" selected>17/05/2024</option>
              <option value="2" selected>25/05/2024</option>
              <option value="3" selected>30/05/2024</option>
              <option value="4" selected>05/06/2024</option>
            </select>
          </div>
        </div>
        <table class="tabla-result-player">
          <tr>
              <th>Fecha</th>
              <th>Tipo</th>
              <th>Categoría</th>
              <th>Nombre</th>
              <th>Motivo</th>
              <th>Sanción</th>
          </tr>
          <tr>
              <td>18/05/2024</td>
              <td>Jugador</td>
              <td>Super Maxi Olimpia</td>
              <td>CASTILLO JAVIER GUILLERMO</td>
              <td>acción violenta</td>
              <td>2 fechas</td>
          </tr>
          <tr>
              <td>18/05/2024</td>
              <td>Jugador</td>
              <td>Super Maxi América</td>
              <td>Velez Diego</td>
              <td>acción violenta</td>
              <td>2 fechas</td>
          </tr>
          <tr>
              <td>18/05/2024</td>
              <td>Jugador</td>
              <td>Super Maxi Sol de Mayo</td>
              <td>SANTILLAN ANDRES</td>
              <td>doble amarilla</td>
              <td>1 fecha</td>
          </tr>
          <tr>
              <td>04/05/2024</td>
              <td>Jugador</td>
              <td>Super Maxi Las Estrellas</td>
              <td>Díaz Óscar NATALIO</td>
              <td>acción violenta informado</td>
              <td>2 fechas</td>
          </tr>
      </table>
      </mat-tab>
      <mat-tab label="Rank. Vallas">
        <table class="tabla-result-player">
          <tr>
              <th>Equipo</th>
              <th>Puntos</th>
          </tr>
          <tr>
              <td>Super Maxi Barcelona</td>
              <td>22</td>
          </tr>
          <tr>
              <td>Super Maxi Miami</td>
              <td>22</td>
          </tr>
          <tr>
              <td>Super Maxi San Vicente FC</td>
              <td>28</td>
          </tr>
          <tr>
              <td>Super Maxi Alianza Cordoba</td>
              <td>28</td>
          </tr>
          <tr>
              <td>Super Maxi La Bomba</td>
              <td>28</td>
          </tr>
          <tr>
              <td>Super Maxi Sol de Mayo</td>
              <td>30</td>
          </tr>
          <tr>
              <td>Super Maxi Picapiedras</td>
              <td>30</td>
          </tr>
          <tr>
              <td>Super Maxi América</td>
              <td>33</td>
          </tr>
          <tr>
              <td>Super Maxi Porto F.C.</td>
              <td>35</td>
          </tr>
          <tr>
              <td>Super Maxi El Barsa</td>
              <td>42</td>
          </tr>
          <tr>
              <td>Super Maxi Las Rosas</td>
              <td>42</td>
          </tr>
          <tr>
              <td>Super Maxi Union del Sur</td>
              <td>54</td>
          </tr>
      </table>
      </mat-tab>
    </mat-tab-group>
  </div>


</div>